<div class="conteudo">
    <div class="Dados-input">
        <h3 style="display: inline;">Desempenho Desejado (t):</h3>
        <mat-form-field>
          <input matInput type="number" style="margin-left: 10px;" [(ngModel)]="desempenho" />
        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="calcularene()">
          Calcular Energia Eletrica
        </button>
        <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="calculargas()">
            Calcular Gás Natural
        </button>
      </div>
  <div style="height: 70%;
  width: 70%;" class="grafico">
    <h2 *ngIf="valorresultado !== 0">Valor Gerado: {{valorresultado}} {{ gasouenergia }} t</h2>
    <h2>Grafico</h2>
    <img style="margin-left: 10px; margin-bottom: 30px" [src]="src" />
  </div>
</div>
