mat-form-field {
  margin-right: 8px;
}
.Dados {
  display: flex;
}
.Energia {
  display: inline-block;
  width: 45%;
  height: 200px;
  padding: 20px;

  margin-bottom: 10px;
}
.Gas {
  display: inline-block;
  width: 45%;
  height: 200px;
  padding: 20px;
}
